<div
  class="sheet-container"
  *ngIf="character"
  [ngClass]="{ 'accessibility-colorized': colorized }"
>
  <div class="character-particulars">
    <div class="character-name">
      <editable-text
        [value]="character.name"
        (valueChanged)="onCharacterNameChanged($event)"
      ></editable-text>
    </div>
    <div class="character-race clickable" (click)="editRace()">
      <div class="character-race-label">Race:</div>
      <div class="character-main-race">{{ character.race.name }}</div>
      <div class="character-subrace" *ngIf="character?.race?.subrace">
        ({{ character.race.subrace }})
      </div>
    </div>
    <div class="character-level">
      <div class="character-level-label">Level {{ character.totalLevel }}:</div>
      <div
        class="character-ao"
        *ngFor="let level of levelList; let last = last"
      >
        {{ level.abilityOrigin }} {{ level.level }}
      </div>
    </div>
    <div class="character-concept">{{ character.biography.concept }}</div>
  </div>
  <div class="character-quick-access">
    <div class="hp-container container-border">
      <hit-points
        [current]="character.hitPointTotal"
        [max]="character.hitPointMaximum"
        [temporary]="character.tempHitPoints"
        (currentChanged)="onHpTotalChanged($event)"
        (maxChanged)="onHpMaxChanged($event)"
        (tempChanged)="onTempHpChanged($event)"
      ></hit-points>
    </div>
    <div class="av-container container-border">
      <div class="av-label">AV</div>
      <div class="av-value">
        <editable-text
          id="av-display"
          [enabled]="false"
          [value]="character.armorValue"
        ></editable-text>
      </div>
    </div>
    <div class="speed-container container-border">
      <div class="av-label">Speed</div>
      <div class="av-value">
        <editable-text
          id="speed-display"
          [value]="character.speed"
          [enabled]="false"
        ></editable-text>
      </div>
    </div>
  </div>
  <div class="character-abilities section-container">
    <span class="section-header">Abilities</span>
    <ability-grid
      [character]="character!"
      [colorized]="colorized"
      (characterChanged)="onCharacterChanged()"
    ></ability-grid>
  </div>
  <div class="details-section">
    <div class="nav-tab-container">
      <div
        class="nav-tab description"
        [routerLink]="[{ outlets: { 'details-outlet': ['description'] } }]"
        [routerLinkActive]="'nav-tab-active'"
      >
        Description
      </div>
      <div
        class="nav-tab defenses"
        [routerLink]="[{ outlets: { 'details-outlet': ['defenses'] } }]"
        [routerLinkActive]="'nav-tab-active'"
      >
        Defenses
      </div>
      <div
        class="nav-tab resources"
        [routerLink]="[{ outlets: { 'details-outlet': ['resources'] } }]"
        [routerLinkActive]="'nav-tab-active'"
      >
        Resources
      </div>
      <div
        class="nav-tab nav-tab-last rolls"
        [routerLink]="[{ outlets: { 'details-outlet': ['rolls'] } }]"
        [routerLinkActive]="'nav-tab-active'"
      >
        Rolls
      </div>
    </div>
    <div class="tab-router-container details-outlet">
      <router-outlet
        name="details-outlet"
        (activate)="onOutletLoaded($event)"
      ></router-outlet>
    </div>
  </div>
  <div class="info-section">
    <div class="nav-tab-container">
      <div
        class="nav-tab attacks"
        [routerLink]="[{ outlets: { 'info-outlet': ['attacks'] } }]"
        [routerLinkActive]="'nav-tab-active'"
      >
        Attacks
      </div>
      <div
        class="nav-tab inventory"
        [routerLink]="[{ outlets: { 'info-outlet': ['inventory'] } }]"
        [routerLinkActive]="'nav-tab-active'"
      >
        Inventory
      </div>
      <div
        class="nav-tab biography"
        [routerLink]="[{ outlets: { 'info-outlet': ['biography'] } }]"
        [routerLinkActive]="'nav-tab-active'"
      >
        Biography
      </div>
      <div
        class="nav-tab selections"
        [routerLink]="[{ outlets: { 'info-outlet': ['selections'] } }]"
        [routerLinkActive]="'nav-tab-active'"
      >
        Abilities and selections
      </div>
      <div
        class="nav-tab nav-tab-last spellbook"
        [routerLink]="[{ outlets: { 'info-outlet': ['spellbook'] } }]"
        [routerLinkActive]="'nav-tab-active'"
      >
        Spells
      </div>
    </div>
    <div class="tab-router-container info-outlet">
      <router-outlet
        name="info-outlet"
        (activate)="onOutletLoaded($event)"
      ></router-outlet>
    </div>
  </div>

  <div class="character-skills section-container">
    <span class="section-header">Skills</span>
    <skill-grid
      [character]="character"
      [colorized]="colorized"
      (characterChanged)="onCharacterChanged()"
    ></skill-grid>
  </div>

  <div class="footer">
    <div class="footer-item colorized-control">
      <input
        type="checkbox"
        (change)="setColorized($event)"
        [checked]="colorized"
      />
      <span>Colorized</span>
    </div>
    <div class="footer-item roll-control">
      <input
        type="checkbox"
        (change)="setPushRolls($event)"
        [checked]="autoPushRolls"
      />
      <span>Auto-copy rolls</span>
    </div>
    <div class="footer-item io-button" (click)="exportJson()">Export JSON</div>
    <div
      class="footer-item io-button delete-button"
      (click)="deleteCharacter()"
    >
      Delete
    </div>
  </div>
</div>
