.accessibility-colorized > .character-particulars {
  color: black;
}

.accessibility-colorized > .character-particulars > .character-level {
  color: rgb(245, 110, 0);
}

.accessibility-colorized > .character-particulars > .character-race {
  color: crimson;
}

.accessibility-colorized > .character-particulars > .character-concept {
  color: rgb(128, 64, 0);
}

.accessibility-colorized > .character-abilities {
  color: unset;
}

.accessibility-colorized > .character-abilities > .section-header {
  color: brown;
}

.accessibility-colorized > .details-section {
  color: black;
}

.accessibility-colorized > .details-section > .nav-tab-container > .defenses {
  border-color: black;
  color: blueviolet;
}

.accessibility-colorized > .details-section > .nav-tab-container > .rolls {
  border-color: black;
  color: green;
}
.accessibility-colorized
  > .details-section
  > .nav-tab-container
  > .description {
  border-color: black;
  color: rgb(128, 64, 0);
}
.accessibility-colorized > .info-section {
  color: black;
}

.accessibility-colorized > .info-section > .nav-tab-container > .selections {
  border-color: black;
  color: rgb(245, 110, 0);
}

.accessibility-colorized > .info-section > .nav-tab-container > .spellbook {
  border-color: black;
  color: rgb(0, 64, 128);
}

.accessibility-colorized > .info-section > .nav-tab-container > .attacks {
  border-color: black;
  color: rgb(0, 200, 200);
}

.accessibility-colorized > .info-section > .nav-tab-container > .inventory {
  border-color: black;
  color: rgb(0, 128, 64);
}
.accessibility-colorized > .character-skills > .section-header {
  color: blue;
}

.accessibility-colorized > .footer > .colorized-control {
  color: black;
}
