.sheet-container {
  display: grid;
  grid-template-columns: [left] max-content [right] 1fr;
  grid-template-rows: 6em 6em 24em 4fr 3em;
  column-gap: 1em;
  row-gap: 1em;
  grid-auto-rows: 1em;
  grid-template-areas:
    "header header"
    "quick-access quick-access"
    "abilities details"
    "skills info"
    "footer footer";
  margin: 1em;
  justify-content: space-around;
  justify-items: start;
}

.character-particulars {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "name race"
    "concept ."
    "level level";
  border-style: double;
  width: 100%;
  justify-self: center;
}

.character-quick-access {
  grid-area: quick-access;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5em;
  justify-content: space-around;
}

.hp-container {
  order: 1;
}
.av-container {
  order: 2;

  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 0.5em;
  justify-self: center;
  align-self: center;
  align-content: center;
}

.av-label {
  font-variant: small-caps;
  text-align: center;
}
.av-value {
  font-variant: small-caps;
  text-align: center;
  font-weight: bold;
  width: 2em;
  align-self: center;
}

.speed-container {
  order: 3;

  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 0.5em;
  justify-self: center;
  align-self: center;
  align-content: center;
}
.proficiency-container {
  order: 4;

  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 0.5em;
  justify-self: center;
  align-self: center;
  align-content: center;
}
.container-border {
  border: double;
  border-radius: 1em;
}

.character-name {
  grid-area: name;
  width: fit-content;
}

.character-race {
  grid-area: race;
  display: flex;
  justify-items: left;
  width: fit-content;
}

.character-concept {
  grid-area: concept;
  font-weight: bold;
}
.character-race-label {
  font-weight: bold;
  padding-right: 1em;
}
.character-main-race {
  font-style: normal;
}
.character-subrace {
  font-style: italic;
  padding-left: 1em;
}

.character-level {
  grid-area: level;
  display: flex;
}

.character-level-label {
  font-weight: bold;
}

.character-ao {
  padding-left: 1em;
}

.section-header {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
}

.character-abilities {
  grid-area: abilities;
  justify-content: center;
  justify-self: center;
  margin-bottom: 2em;
  height: 100%;
}

.character-skills {
  grid-area: skills;
  width: 100%;
}

.nav-tab-container {
  display: flex;
  flex-direction: row;
  padding-inline-start: 1em;
  height: 2em;
}

.nav-tab {
  border-style: double none none double;
  border-radius: 0.6em 0.6em 0 0;
  padding-inline-start: 0.5em;
  padding-inline-end: 0.5em;
  padding-block-start: 0.25em;
}
.nav-tab-last {
  border-style: double double none double;
  border-radius: 0.5em 0.5em 0 0;
}

.nav-tab-active {
  border-style: solid solid none solid;
  font-weight: bold;
}

.tab-router-container {
  border-style: solid;
  border-radius: 0.5em;
  height: 100%;
  width: 100%;
}

.info-section {
  grid-area: info;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 2em 1fr;
  grid-auto-flow: column;
}

.details-section {
  grid-area: details;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 2em 1fr;
  grid-auto-flow: column;
}
.info-outlet {
  height: 100%;
}
.details-outlet {
  height: 100%;
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: max-content 1fr max-content max-content;
  height: 100%;
  width: 100%;
  align-items: center;
  align-content: center;
}
.footer-item {
  margin-inline-start: 1em;
  margin-inline-end: 1em;
}

.io-button {
  border-radius: 1em;
  border-style: solid;
  padding-inline-start: 1em;
  padding-inline-end: 1em;
  cursor: pointer;
}
