<div
  class="sheet-container"
  *ngIf="character"
  [ngClass]="{ 'accessibility-colorized': colorized }"
>
  <div class="character-particulars">
    <div class="character-name">
      <editable-text
        [value]="character.name"
        (valueChanged)="character.name = $event; onCharacterChanged()"
      ></editable-text>
    </div>
    <div class="character-race clickable" (click)="editRace()">
      <div class="character-race-label">Race:</div>
      <div class="character-main-race">{{ character.race.name }}</div>
      <div class="character-subrace" *ngIf="character?.race?.subrace">
        ({{ character.race.subrace }})
      </div>
    </div>
    <div class="character-level">
      <div class="character-level-label">Level {{ character.totalLevel }}:</div>
      <div
        class="character-ao"
        *ngFor="let level of levelList; let last = last"
      >
        {{ level.abilityOrigin }} {{ level.level }}
      </div>
    </div>
  </div>
  <div class="character-abilities section-container">
    <span class="section-header">Abilities</span>
    <ability-grid
      [character]="character!"
      [colorized]="colorized"
      (characterChanged)="onCharacterChanged()"
    ></ability-grid>
  </div>
  <div class="details-section">
    <div class="nav-tab-container">
      <div
        class="nav-tab defenses"
        [routerLink]="[{ outlets: { 'details-outlet': ['defenses'] } }]"
        [routerLinkActive]="'nav-tab-active'"
      >
        Defenses
      </div>
      <div
        class="nav-tab nav-tab-last rolls"
        [routerLink]="[{ outlets: { 'details-outlet': ['rolls'] } }]"
        [routerLinkActive]="'nav-tab-active'"
      >
        Rolls
      </div>
    </div>
    <div class="tab-router-container details-outlet">
      <router-outlet
        name="details-outlet"
        (activate)="onOutletLoaded($event)"
      ></router-outlet>
    </div>
  </div>
  <div class="info-section">
    <div class="nav-tab-container">
      <div
        class="nav-tab attacks"
        [routerLink]="[{ outlets: { 'info-outlet': ['attacks'] } }]"
        [routerLinkActive]="'nav-tab-active'"
      >
        Attacks
      </div>
      <div
        class="nav-tab inventory"
        [routerLink]="[{ outlets: { 'info-outlet': ['inventory'] } }]"
        [routerLinkActive]="'nav-tab-active'"
      >
        Inventory
      </div>
      <div
        class="nav-tab selections"
        [routerLink]="[{ outlets: { 'info-outlet': ['selections'] } }]"
        [routerLinkActive]="'nav-tab-active'"
      >
        Abilities and selections
      </div>
      <div
        class="nav-tab nav-tab-last spellbook"
        [routerLink]="[{ outlets: { 'info-outlet': ['spellbook'] } }]"
        [routerLinkActive]="'nav-tab-active'"
      >
        Spells
      </div>
    </div>
    <div class="tab-router-container info-outlet">
      <router-outlet
        name="info-outlet"
        (activate)="onOutletLoaded($event)"
      ></router-outlet>
    </div>
  </div>

  <div class="character-skills section-container">
    <span class="section-header">Skills</span>
    <skill-grid
      [character]="character"
      [colorized]="colorized"
      (characterChanged)="onCharacterChanged()"
    ></skill-grid>
  </div>

  <div class="footer">
    <div class="footer-item colorized-control">
      <input
        style="height: 100%; background-color: red"
        type="checkbox"
        (change)="setColorized($event)"
        [checked]="colorized"
      />
      <span>Colorized</span>
    </div>
  </div>
</div>
