.description-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.description-container > div {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.label {
  font-variant: small-caps;
  font-weight: bold;
  margin-inline-end: 0.5em;
}
.concept {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: center;
  font-size: larger;
}
.appearance {
  display: flex;
  flex-direction: column;
  border-style: double;
  margin-top: 1em;
  margin-bottom: 1em;
}
.size {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 1em;
}
.size-section {
  display: grid;
  grid-template-columns: [value]1fr [unit] max-content [end];
  grid-template-rows: [label] max-content [value] 1fr;
  border-style: solid;
  width: fit-content;
  border-radius: 0.5em;
  padding: 0.25em;
}

.size-section > .label {
  grid-row: label;
  grid-column: value/end;
  text-align: center;
  width: 100%;
}
.height-edit {
  text-align: center;
  width: 3em;
}

.weight-edit {
  text-align: center;
  width: 3em;
}

.soul-mark {
  border-style: double;
}
