<div class="single-roll">
  <div
    *ngIf="roll.character && roll.character.length > 0"
    class="roll-character"
  >
    {{ roll.character }} :
  </div>
  <div class="roll-title" *ngIf="roll.name">{{ roll.name }} effect:</div>
  <div *ngFor="let modifier of roll.modifiers" class="die-roll">
    <span *ngFor="let ab of saveAbilities(modifier.name); last as isLast">
      {{ ab | abilityName : "long" }} {{ isLast ? "" : "/" }}
    </span>
    DV
    {{ modifier.value }}
  </div>
  <div class="roll-description">
    {{ roll.description }}
  </div>
</div>
