<div
  class="container"
  (mouseenter)="startHover()"
  (mouseleave)="endHover()"
  [ngStyle]="{ color: selection.hilightColor }"
>
  <div class="selection-name" (click)="onEdit()">
    {{ selection.name }}
    <span *ngIf="hovered" (click)="onDelete()" class="delete-button">-</span>
  </div>
  <div class="ao-container">
    <div class="ao-name">
      {{ selection.abilityOrigin }}
    </div>
    <div class="ao-level">
      {{ selection.level }}
    </div>
    <div class="ao-hit-die" *ngIf="selection.isPrimary">
      Hit die: {{ hitDie }}
    </div>
  </div>
  <div class="selection-description" *ngIf="selection.description.length > 0">
    {{ selection.description }}
  </div>
</div>
