.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40em;
  float: inline-start;
}

.selection-name {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  align-items: center;
  align-content: center;
  width: 100%;
}

.name {
  font-weight: bold;
  font-size: larger;
  padding-block-start: 0.12em;
  padding-block-end: 0.12em;
}

.button {
  border-style: solid;
  text-align: center;
  border-radius: 1em;
  padding-inline-start: 0.5em;
  padding-inline-end: 0.5em;
  margin-inline-start: 1em;
  width: fit-content;
  justify-self: start;
  cursor: pointer;
  justify-self: end;
  font-weight: normal;
}

.ao-container {
  display: flex;
  flex-direction: row;
}

.ao-name {
  font-style: italic;
  margin-inline-end: 1em;
}
.ao-level {
  width: 3em;
}

.selection-description {
  width: 100%;
  white-space: pre-line;
  border-style: double;
}

.label {
  margin-inline-start: 0.5em;
  margin-inline-end: 0.5em;
}
