.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.selection-name {
  font-weight: bold;
  font-size: larger;
}

.ao-container {
  display: flex;
  flex-direction: row;
}

.ao-name {
  font-style: italic;
  margin-inline-end: 1em;
}
.ao-level {
  width: 3em;
}

.selection-description {
  width: 100%;
  white-space: pre-line;
  border-style: double;
}

.extra-selections {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.hilight-color-select {
  height: 100%;
  display: flex;
}

.label {
  margin-inline-start: 0.5em;
  margin-inline-end: 0.5em;
}
