.attack-edit-container {
  width: 35em;
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
  font-size: larger;
}

.accessibility-colorized > .name {
  color: mediumblue;
}
.modifier {
  display: grid;
  grid-template-columns: [label] max-content [plus]max-content [value]1fr[end];
  grid-template-rows: max-content;
}

.accessibility-colorized > .modifier {
  color: blueviolet;
}

.modifier-label {
  grid-column: label/plus;
}
.modifier-plus {
  grid-column: plus/value;
}
.modifier-value {
  grid-column: value/end;
  width: 100%;
}

.proficiency {
  display: flex;
  flex-direction: row;
}

.accessibility-colorized > .proficiency {
  color: brown;
}

.section-header {
  font-weight: bold;
}
.description {
  border-style: solid;
}

.accessibility-colorized > .description {
  color: rgb(0, 205, 0);
}
.ability-list {
  width: 100%;
  display: flex;
  overflow-wrap: normal;
}
.ability-item {
  display: flex;
  flex-direction: row;
  width: fit-content;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.5em;
  background-color: lightgray;
  margin-inline-end: 0.5em;
  margin-inline-start: 0.5em;
}

.accessibility-colorized > .ability-list {
  color: rgb(205, 0, 205);
}

.damage-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accessibility-colorized > .damage-list {
  color: rgb(0, 205, 205);
}

.effects-list {
  display: flex;
  flex-direction: column;
  border-style: double;
}
.option-row {
  display: flex;
  flex-direction: row;
}
.effect-item {
  border-style: solid none none none;
  border-width: 2px;
  margin-block-start: 0.5em;
}

.accessibility-colorized > .effects-list {
  color: darkgoldenrod;
}
