<div class="hp-box">
  <span class="hp-label">Hit Points: </span>
  <div class="hp-total">
    <editable-text
      [value]="current"
      (valueChanged)="onTotalChanged($event)"
    ></editable-text>
  </div>
  <span class="slash">/</span>
  <div class="hp-max">
    <editable-text
      [value]="max"
      (valueChanged)="onMaxChanged($event)"
    ></editable-text>
  </div>
  <span class="hp-label">Temp hp: </span>
  <div class="temp-hp">
    <editable-text
      [value]="temporary"
      (valueChanged)="onTempChanged($event)"
    ></editable-text>
  </div>
</div>
