<div class="single-roll">
  <div
    *ngIf="roll.character && roll.character.length > 0"
    class="roll-character"
  >
    {{ roll.character }} :
  </div>
  <div *ngIf="roll.title" class="roll-title">
    <span *ngFor="let ab of abilities; let first = first">
      <span *ngIf="!first">/</span>{{ ab | abilityName : "short" }}
    </span>
    Save:
  </div>
  <div *ngFor="let d of roll.dice" class="die-roll">
    {{ d | roll }}
  </div>
  <div *ngFor="let m of roll.filteredModifiers" class="die-modifier">
    {{ m.value | modifier }}
  </div>
</div>
