<div class="single-roll">
  <div
    *ngIf="roll.character && roll.character.length > 0"
    class="roll-character"
  >
    {{ roll.character }} :
  </div>
  <div class="roll-title">{{ roll.name }} damage:</div>
  <div *ngFor="let d of roll.dice; last as isLast" class="damage-element">
    <span class="die-roll">{{ d | roll }}</span> {{ d.name
    }}<span *ngIf="!isLast">,</span>
  </div>
  <div class="crit-label">On Crit:</div>
  <div *ngFor="let d of roll.dice; last as isLast" class="damage-element">
    <span class="die-roll">{{ d.sides | modifier }}</span>
    {{ d.name }}
    <span *ngIf="!isLast">,</span>
  </div>
</div>
