.add-button {
  font-size: large;
  font-weight: bold;
  justify-content: center;
  justify-self: center;
  text-align: center;
  cursor: pointer;
}

.delete-button {
  color: darkred;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.grayed-out {
  color: lightgray;
}
.save-button {
  border-style: solid;
  border-radius: 1.5em;
  width: 100%;
  height: fit-content;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-style: dotted;
}
