.add-button {
  font-size: large;
  font-weight: bold;
  justify-content: center;
  justify-self: center;
  text-align: center;
  cursor: pointer;
}

.delete-button {
  color: darkred;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.grayed-out {
  color: lightgray;
}

.accessibility-colorized {
  /*Placeholder colors to indicate that the color has not properly been set*/
  color: cadetblue;
  border-color: #a0615f;
}
