<div class="skill-box" (mouseenter)="onHover()" (mouseleave)="onHoverEnd()">
  <div class="skill-title">
    <editable-text
      class="name"
      [value]="skill.name"
      *ngIf="custom"
      (valueChanged)="onNameChanged($event)"
    ></editable-text>
    <span *ngIf="!custom"> {{ skill | skillName }}</span>
    <div class="delete-button" *ngIf="custom && hovered" (click)="emitDelete()">
      -
    </div>
  </div>

  <div class="skill-ranks">
    <div
      *ngFor="let item of [].constructor(skill.rank); let i = index"
      (click)="setRank(i)"
      class="rank-button"
    >
      ◈
    </div>
    <div
      *ngFor="let item of [].constructor(5 - skill.rank); let i = index"
      (click)="setRank(i + skill.rank + 1)"
      class="rank-button"
    >
      ◇
    </div>
  </div>
  <div
    class="first-ability"
    *ngIf="skill.defaultAbilities.length == 0 && custom"
    (click)="changeDefaultAbility(0)"
  ></div>
  <div class="first-ability" *ngIf="skill.defaultAbilities.length > 0">
    <div>
      <span
        (click)="
          custom ? changeDefaultAbility(0) : callRoll(skill.defaultAbilities[0])
        "
        class="clickable"
        >{{ skill.defaultAbilities[0] | abilityName : "short" }}</span
      >
      <span
        class="ability-modifier clickable"
        (click)="callRoll(skill.defaultAbilities[0])"
      >
        {{
          abilityModifier(skill.defaultAbilities[0]) + skillModifier | modifier
        }}
      </span>
    </div>
  </div>
  <div
    class="second-ability clickable"
    *ngIf="skill.defaultAbilities.length === 1"
    (click)="changeDefaultAbility(1)"
  ></div>
  <div class="second-ability" *ngIf="skill.defaultAbilities.length > 1">
    <div>
      <span
        class="ability-modifier"
        (click)="callRoll(skill.defaultAbilities[1])"
      >
        {{
          abilityModifier(skill.defaultAbilities[1]) + skillModifier | modifier
        }}
      </span>
      <span
        (click)="
          custom ? changeDefaultAbility(1) : callRoll(skill.defaultAbilities[1])
        "
        class="clickable"
        >{{ skill.defaultAbilities[1] | abilityName : "short" }}</span
      >
    </div>
  </div>
  <div class="ability-button clickable" (click)="callCustomRoll()">
    {{ skillModifier | modifier }}
  </div>
</div>
