.ability-select-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.ability-grid-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, 1fr);
}

.ability-button {
  border-style: solid;
  border-radius: 10%;
}
