.defenses-container {
  display: grid;
  grid-template-rows: 1fr 1fr [end];
  grid-template-columns: max-content max-content;
  row-gap: 0.5em;
  column-gap: 0.5em;
  padding: 0.5em;
  height: 100%;
}
.hp-and-av {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  height: 100%;
}

.accessibility-colorized > .hp-and-av > .av-container {
  color: yellowgreen;
}
.accessibility-colorized > .hp-and-av > .hp-container {
  color: orangered;
}

.container-border {
  border-radius: 1em;
  border-style: double;
  border-radius: 1em;
  border-width: 5px;
  padding: 0.5em;
}

.av-container {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  width: min-content;
  padding: 0.5em;
  justify-self: center;
  align-self: center;
}

.av-label {
  font-variant: small-caps;
  text-align: center;
}
.av-value {
  font-variant: small-caps;
  text-align: center;
  font-weight: bold;
  width: 2em;
}

.saves-container {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-auto-rows: max-content;
  grid-auto-flow: row;
  height: 100%;
  padding: 0.5em;
}

.accessibility-colorized > .saves-container {
  color: purple;
}

.resistance-container {
  grid-column: 2;
  grid-row: 1 / end;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
}
.accessibility-colorized
  > .resistance-container
  > .status-resistance-container {
  color: blue;
}

.accessibility-colorized
  > .resistance-container
  > .damage-resistance-container {
  color: orchid;
}
.status-resistance-container {
  margin-block-end: 1em;
}

.damage-resistance-container {
  padding-top: 1em;
}

.label {
  font-variant: small-caps;
  grid-row: 1/1;
  grid-column: 1 / 3;
  text-align: center;
}
