<div
  class="defenses-container"
  [ngClass]="{ 'accessibility-colorized': colorized }"
>
  <div class="hp-and-av">
    <div class="av-container container-border">
      <div class="av-label">AV</div>
      <div class="av-value">
        <editable-text
          id="av-display"
          [value]="character.armorValue"
          (valueChanged)="setArmorValue($event)"
        ></editable-text>
      </div>
    </div>
    <hit-points
      class="container-border hp-container"
      [current]="character.hitPointTotal"
      [max]="character.hitPointMaximum"
      [temporary]="character.tempHitPoints"
      (currentChanged)="onHpTotalChanged($event)"
      (maxChanged)="onHpMaxChanged($event)"
      (tempChanged)="onTempHpChanged($event)"
    ></hit-points>
    <div class="hit-dice-container">
      <hit-dice-display
        [hitDiceMax]="character.hitDice"
        [hitDiceRemaining]="character.hitDiceRemaining"
        [characterId]="character.id!"
        [colorized]="colorized"
        (remainingChanged)="onRemainingHitDiceChanged($event)"
      ></hit-dice-display>
    </div>
  </div>
  <div class="saves-container container-border">
    <div class="label">Saving throws</div>
    <saving-throw
      *ngFor="let save of savingThrows"
      [hasSave]="hasSave(save)"
      [ability]="save.split('/')"
      (toggle)="toggleAbility(save, $event)"
      (roll)="callRoll(save)"
    ></saving-throw>
  </div>
  <div class="resistance-container container-border">
    <div class="status-resistance-container">
      <div class="label">Status resistances</div>
      <resistances
        [racialResistances]="character.race.statusResistances || []"
        [resistances]="character.statusResistances || []"
        (resistanceInserted)="addStatusResistance($event)"
        (resistanceDeleted)="removeStatusResistance($event)"
        (resistanceModified)="modifyStatusResistance($event)"
      ></resistances>
    </div>
    <div class="damage-resistance-container">
      <div class="label">Damage resistances</div>
      <resistances
        [racialResistances]="character.race.damageResistances || []"
        [resistances]="character.damageResistances || []"
        (resistanceInserted)="addDamageResistance($event)"
        (resistanceDeleted)="removeDamageResistance($event)"
        (resistanceModified)="modifyStatusResistance($event)"
      ></resistances>
    </div>
  </div>
</div>
