.spell-edit-container {
  width: 30em;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.labeled-edit {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.5em;
}

.option-row {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  column-gap: 0.5em;
}

.description {
  white-space: pre-line;
  border-style: double;
}
.damage {
  width: 100%;
  border-style: double;
  border-radius: 0.5em;
}
