.spell-edit-container {
  width: 25em;
}

.save-button {
  border-style: solid;
  border-radius: 1.5em;
  width: 100%;
  height: fit-content;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.description {
  white-space: pre-line;
  border-style: double;
}
.damage {
  width: 100%;
  border-style: double;
  border-radius: 0.5em;
}
