.spell-edit-container {
  width: 30em;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.option-row {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
.save-button {
  border-style: solid;
  border-radius: 1.5em;
  width: 100%;
  height: fit-content;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.description {
  white-space: pre-line;
  border-style: double;
}
.damage {
  width: 100%;
  border-style: double;
  border-radius: 0.5em;
}
