.race-edit-container {
  width: 15em;
  display: grid;
  grid-template-rows: 1em 1em max-content max-content max-content max-content;
  margin: 0.5em;
  overflow: scroll;
  aspect-ratio: 0.5;
  height: 50%;
  row-gap: 0.5em;
}
.accessibility-colorized {
  border: 1em;
}
.abilities-list {
  display: flex;
  flex-direction: column;
}

.accessibility-colorized > .abilities-list {
  color: crimson;
}

.accessibility-colorized > .damage {
  color: orchid;
}
.accessibility-colorized > .status {
  color: blue;
}
.accessibility-colorized > .powerful-build {
  color: green;
}
.name-edit {
  font-size: large;
  font-weight: bold;
}
.subrace-edit {
  margin-block-end: 1em;
  font-style: italic;
}
.label {
  font-variant: small-caps;
  font-size: large;
}

.submit-button {
  border-radius: 1em;
  height: max-content;
  border-style: double;
  text-align: center;
}
