<div class="score-box">
  <div class="ability-name">
    {{ ability.identifier | abilityName: "long" }}
  </div>
  <div class="ability-score" *ngIf="!editing" (click)="startEditing()">
    {{ ability.score }}
  </div>
  <div class="ability-score" *ngIf="editing">
    <input
      class="ability-score-edit"
      type="text"
      [value]="ability.score"
      (change)="valueChanged($event)"
      (blur)="endEditing()"
    />
  </div>
  <div class="ability-modifier" (click)="emitRoll()">
    {{ (ability.modifier >= 0 ? "+" : "") + ability.modifier }}
  </div>
</div>
