<div class="sheet-container" *ngIf="character">
  <div class="character-particulars">
    <div class="character-name">
      <editable-text
        [value]="character.name"
        (valueChanged)="character.name = $event; onCharacterChanged()"
      ></editable-text>
    </div>
    <div class="character-race">
      <div class="character-race-label">Race:</div>
      <div class="character-main-race">{{ character.race.name }}</div>
      <div class="character-subrace" *ngIf="character?.race?.subrace">
        ({{ character.race.subrace }})
      </div>
    </div>
    <div class="character-level">
      <div class="character-level-label">Level {{ character.totalLevel }}:</div>
      <div
        class="character-ao"
        *ngFor="let level of levelList; let last = last"
      >
        {{ level.abilityOrigin }} {{ level.level }}
      </div>
    </div>
  </div>
  <div class="character-abilities section-container">
    <span class="section-header">Abilities</span>
    <ability-grid
      [character]="character!"
      (characterChanged)="onCharacterChanged()"
    ></ability-grid>
  </div>
  <div>
    <div class="nav-tab-container">
      <div
        class="nav-tab"
        [routerLink]="[{ outlets: { 'upper-outlet': ['defenses'] } }]"
        [routerLinkActive]="'nav-tab-active'"
      >
        Defenses
      </div>
      <div
        class="nav-tab-last"
        [routerLink]="[{ outlets: { 'upper-outlet': ['rolls'] } }]"
        [routerLinkActive]="'nav-tab-active'"
      >
        Rolls
      </div>
    </div>
    <div class="tab-router-container">
      <router-outlet
        name="upper-outlet"
        (activate)="onOutletLoaded($event)"
      ></router-outlet>
    </div>
  </div>
  <div class="character-skills section-container">
    <span class="section-header">Skills</span>
    <skill-grid
      [character]="character"
      (characterChanged)="onCharacterChanged()"
    ></skill-grid>
  </div>
</div>
