<div class="sheet-container">
  <div class="character-particulars">
    <div class="character-name">
      <div>{{ character.name }}</div>
    </div>
    <div class="character-race">
      <div class="character-race-label">Race:</div>
      <div class="character-main-race">{{ character.race.name }}</div>
      <div class="character-subrace" *ngIf="character?.race?.subrace">
        ({{ character.race.subrace }})
      </div>
    </div>
    <div class="character-level">
      <div class="character-level-label">Level {{ character.totalLevel }}:</div>
      <div
        class="character-ao"
        *ngFor="let level of levelList; let last = last"
      >
        {{ level.abilityOrigin }} {{ level.level }}
      </div>
    </div>
  </div>
  <div class="character-abilities">
    <ability-grid [character]="character"></ability-grid>
  </div>
  <div>
    <router-outlet name="upper-outlet"></router-outlet>
  </div>
  <div class="character-skills">
    <skill-grid [character]="character"></skill-grid>
  </div>
</div>
