.resource-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: solid;
  border-radius: 1em;
  width: 100%;
  padding: 0.5em;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.extra-padding {
  padding-inline-start: 1.5em;
  padding-inline-end: 1.5em;
}

.name {
  font-variant: small-caps;
  text-align: center;
}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
