<div class="resistances-container">
  <resistance-item
    *ngFor="let r of racialResistances; let i = index"
    [id]="'racial-resistance-' + i"
    [racial]="true"
    [resistance]="r"
  ></resistance-item>
  <resistance-item
    *ngFor="let r of resistances; let i = index"
    [id]="'resistance-' + i"
    [racial]="false"
    [resistance]="r"
    (delete)="onDelete(r)"
    (typeChange)="onModifyType($event, r)"
  ></resistance-item>
  <span
    id="add-resistance-btn"
    *ngIf="!inserting"
    class="add-button"
    (click)="startInserting()"
    >+</span
  >
  <input
    id="new-resistance"
    class="resistance-edit"
    *ngIf="inserting"
    [cdkTrapFocus]="inserting"
    [cdkTrapFocusAutoCapture]="inserting"
    (blur)="endInserting($event)"
    (keyup.enter)="endInserting($event)"
    placeholder="resistance"
    type="text"
  />
</div>
