<div class="skill-grid" [ngClass]="{ 'accessibility-colorized': colorized }">
  <div
    *ngFor="let skill of defaultSkills; let i = index"
    class="skill-card default"
  >
    <skill
      [skill]="skill"
      [abilityModifiers]="character.getAbilityModifiers()"
      [proficiency]="character.proficiency"
      (skillModified)="onModifySkill($event)"
      (roll)="onSkillRoll($event)"
    ></skill>
  </div>
  <div
    *ngFor="let skill of character.customSkills; let i = index"
    class="skill-card custom"
    [ngClass]="{
      'first-color': i % 3 == 0,
      'second-color': i % 3 == 1,
      'third-color': i % 3 == 2
    }"
  >
    <skill
      [skill]="skill"
      [custom]="true"
      [abilityModifiers]="character.getAbilityModifiers()"
      [proficiency]="character.proficiency"
      (skillModified)="onModifySkill($event)"
      (skillDeleted)="onDeleteSkill($event)"
      (roll)="onSkillRoll($event)"
    ></skill>
  </div>
  <div class="add-button empty-card clickable" (click)="addSkill()">+</div>
</div>
