<div class="ability-grid-container grid-border">
  <div class="br-cell">
    <ability-score
      [ability]="character.brawn"
      (modified)="character.setBrawn($event)"
      (roll)="performRoll($event)"
    ></ability-score>
  </div>
  <div class="int-cell">
    <ability-score
      [ability]="character.intelligence"
      (modified)="character.setIntelligence($event)"
      (roll)="performRoll($event)"
    ></ability-score>
  </div>
  <div class="pre-cell">
    <ability-score
      [ability]="character.presence"
      (modified)="character.setPresence($event)"
      (roll)="performRoll($event)"
    ></ability-score>
  </div>
  <div class="dex-cell">
    <ability-score
      [ability]="character.dexterity"
      (modified)="character.setDexterity($event)"
      (roll)="performRoll($event)"
    ></ability-score>
  </div>
  <div class="cun-cell">
    <ability-score
      [ability]="character.cunning"
      (modified)="character.setCunning($event)"
      (roll)="performRoll($event)"
    ></ability-score>
  </div>
  <div class="man-cell">
    <ability-score
      [ability]="character.manipulation"
      (modified)="character.setManipulation($event)"
      (roll)="performRoll($event)"
    ></ability-score>
  </div>
  <div class="vit-cell">
    <ability-score
      [ability]="character.vitality"
      (modified)="character.setVitality($event)"
      (roll)="performRoll($event)"
    ></ability-score>
  </div>
  <div class="res-cell">
    <ability-score
      [ability]="character.resolve"
      (modified)="character.setResolve($event)"
      (roll)="performRoll($event)"
    ></ability-score>
  </div>
  <div class="com-cell">
    <ability-score
      [ability]="character.composure"
      (modified)="character.setComposure($event)"
      (roll)="performRoll($event)"
    ></ability-score>
  </div>
</div>
