<div class="ability-grid-container grid-border">
  <div class="br-cell">
    <ability-score
      [ability]="character.abilities.br"
      (modified)="character.abilities.setBr($event)"
      (roll)="performRoll($event)"
    ></ability-score>
  </div>
  <div class="int-cell">
    <ability-score
      [ability]="character.abilities.int"
      (roll)="performRoll($event)"
    ></ability-score>
  </div>
  <div class="pre-cell">
    <ability-score
      [ability]="character.abilities.pre"
      (roll)="performRoll($event)"
    ></ability-score>
  </div>
  <div class="dex-cell">
    <ability-score
      [ability]="character.abilities.dex"
      (roll)="performRoll($event)"
    ></ability-score>
  </div>
  <div class="cun-cell">
    <ability-score
      [ability]="character.abilities.cun"
      (roll)="performRoll($event)"
    ></ability-score>
  </div>
  <div class="man-cell">
    <ability-score
      [ability]="character.abilities.man"
      (roll)="performRoll($event)"
    ></ability-score>
  </div>
  <div class="vit-cell">
    <ability-score
      [ability]="character.abilities.vit"
      (roll)="performRoll($event)"
    ></ability-score>
  </div>
  <div class="res-cell">
    <ability-score
      [ability]="character.abilities.res"
      (roll)="performRoll($event)"
    ></ability-score>
  </div>
  <div class="com-cell">
    <ability-score
      [ability]="character.abilities.com"
      (roll)="performRoll($event)"
    ></ability-score>
  </div>
</div>
