<div
  class="inventory-view-container"
  [ngClass]="{ 'accessibility-colorized': colorized }"
>
  <div class="containers-list">
    <container-view
      *ngFor="let cont of character.inventory"
      [container]="cont"
      (containerChanged)="onContainerChange($event)"
    ></container-view>
    <div class="add-button" (click)="addContainer()">Add Container</div>
  </div>
  <div class="weight-total">
    <div class="weight-sum">
      <divided-number
        [value]="totalWeight"
        [shiftDigits]="3"
        [precision]="2"
      ></divided-number>
    </div>
    <span>/</span>
    <div class="carry-weight">
      <divided-number [value]="carryWeight" [shiftDigits]="3" [precision]="0">
      </divided-number>
      kg
    </div>
    <div class="encumbrance" *ngIf="encumbered">{{ encumbered }}</div>
  </div>
</div>
