.weight-total {
  display: flex;
  flex-direction: row;
}

.containers-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  grid-auto-flow: row;
  align-content: center;
  justify-content: center;
  row-gap: 2em;
  column-gap: 1em;
  padding: 0.5em;
}

.add-button {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  border-style: dotted;
  border-radius: 2em;
  padding: 1em;
}
