<div
  class="roller-container"
  [ngClass]="{ 'accessibility-colorized': colorized }"
>
  <div class="heading">Hit Die options</div>
  <div class="var-button button spend" (click)="roll(spend)">Roll</div>
  <div class="var-value spend">
    <editable-text
      [value]="spend"
      [min]="0"
      [max]="totalRemaining"
      (numberChanged)="this.spend = $event"
    ></editable-text>
  </div>
  <span class="max spend">/{{ maximum }}</span>
  <div class="var-button button regain">Regain</div>
  <div class="var-value regain">
    <editable-text
      [value]="regain"
      [min]="0"
      [max]="maximum - totalRemaining"
      (numberChanged)="this.regain = $event"
    ></editable-text>
  </div>
  <span class="max regain">/{{ maximum }}</span>
  <div class="full-button button regain-half" (click)="regainHalf()">
    Regain half
  </div>
  <div
    class="full-button button regain-all"
    (click)="regainDice(maximum - totalRemaining)"
  >
    Regain all
  </div>
  <div class="full-button button health" (click)="rollHealth()">
    Roll health
  </div>
</div>
