.single-roll {
  position: relative;
  display: flex;
  flex-direction: row;
}

.multi-roll {
  position: relative;
  display: flex;
  flex-direction: column;
}

.log-row {
  width: 100%;
}

.roll-character {
  font-weight: bolder;
  padding-right: 1em;
}
.roll-title {
  padding-right: 1em;
}

.die-roll {
  font-weight: bold;
  font-family: monospace;
}
.die-modifier {
  font-weight: lighter;
  font-family: monospace;
}
.roll-name {
  font-style: italic;
  font-weight: bold;
}

.clipboard-button {
  position: absolute;
  top: 5%;
  right: 1em;
  width: 1.5em;
  height: 1.5em;
  background-image: url("/assets/copy-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border-style: none;
}
