.rolls-display {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: auto;
  height: 100%;
}
.single-roll {
  display: flex;
  flex-direction: row;
}

.accessibility-colorized > .skill-check {
  color: blue;
}

.accessibility-colorized > .simple-check {
  color: olive;
}

.accessibility-colorized > .saving-throw {
  color: purple;
}
