.roll-log {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  width: 100%;
}
.rolls-display {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: auto;
  height: 100%;
  max-height: 17em;
  border-radius: 1em;
  border-style: double;
  justify-content: stretch;
}

.header {
  display: flex;
  flex-direction: row;
}

.single-roll {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: stretch;
  border-style: solid none solid none;
}

.accessibility-colorized > .skill-check {
  color: blue;
}

.accessibility-colorized > .simple-check {
  color: olive;
}

.accessibility-colorized > .saving-throw {
  color: purple;
}

.accessibility-colorized > .spell-attack {
  color: rgb(0, 64, 128);
}
.accessibility-colorized > .spell-save {
  color: rgb(0, 64, 128);
}
.accessibility-colorized > .spell-damage {
  color: rgb(0, 64, 128);
}
.accessibility-colorized > .soul-check {
  color: rgb(0, 64, 128);
}

.accessibility-colorized > .attack {
  color: rgb(0, 200, 200);
}
.accessibility-colorized > .attack-damage {
  color: rgb(0, 200, 200);
}
.accessibility-colorized > .attack-effect {
  color: rgb(0, 200, 200);
}
.accessibility-colorized > .hit-dice {
  color: crimson;
}

.accessibility-colorized > .hit-points {
  color: hsl(300, 100%, 25%);
}
