<div #logScroll class="rolls-display">
  <div
    *ngFor="let r of rolls"
    class="single-roll"
    [ngClass]="{ 'accessibility-colorized': colorized }"
  >
    <div [ngSwitch]="rollToType(r)" [ngClass]="rollToType(r)">
      <simple-check [roll]="r" *ngSwitchCase="'simple-check'"></simple-check>
      <skill-check [roll]="r" *ngSwitchCase="'skill-check'"></skill-check>
      <saving-throw-log
        [roll]="r"
        *ngSwitchCase="'saving-throw'"
      ></saving-throw-log>
      <spell-attack-roll
        [roll]="r"
        *ngSwitchCase="'spell-attack'"
      ></spell-attack-roll>

      <unknown-roll *ngSwitchCase="'unknown'" [roll]="r"></unknown-roll>
    </div>
  </div>
</div>
