.rolls-display {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: auto;
  height: 100%;
}
.single-roll {
  display: flex;
  flex-direction: row;
}

.accessibility-colorized > .skill-check {
  color: blue;
}

.accessibility-colorized > .simple-check {
  color: olive;
}

.accessibility-colorized > .saving-throw {
  color: purple;
}

.accessibility-colorized > .spell-attack {
  color: rgb(0, 64, 128);
}
.accessibility-colorized > .spell-save {
  color: rgb(0, 64, 128);
}
.accessibility-colorized > .spell-damage {
  color: rgb(0, 64, 128);
}
.accessibility-colorized > .soul-check {
  color: rgb(0, 64, 128);
}
