<div #logScroll class="rolls-display">
  <div
    *ngFor="let r of rolls"
    class="single-roll"
    [ngClass]="{ 'accessibility-colorized': colorized }"
  >
    <div [ngSwitch]="rollToType(r)" [ngClass]="rollToType(r)">
      <simple-check
        [roll]="asSimple(r)"
        *ngSwitchCase="'simple-check'"
      ></simple-check>
      <skill-check
        [roll]="asSimple(r)"
        *ngSwitchCase="'skill-check'"
      ></skill-check>
      <saving-throw-log
        [roll]="asSimple(r)"
        *ngSwitchCase="'saving-throw'"
      ></saving-throw-log>
      <spell-attack-roll
        [roll]="asSimple(r)"
        *ngSwitchCase="'spell-attack'"
      ></spell-attack-roll>
      <spell-save-log
        [roll="asSimple(r)"
        *ngSwitchCase="'spell-save'"
      ></spell-save-log>
      <soul-check-log
        [roll]="asSimple(r)"
        *ngSwitchCase="'soul-check'"
      ></soul-check-log>
      <spell-damage-roll
        [roll]="asSimple(r)"
        *ngSwitchCase="'spell-damage'"
      ></spell-damage-roll>
      <attack [roll]="asMulti(r)" *ngSwitchCase="'attack'"></attack>
      <attack-damage
        [roll]="asSimple(r)"
        *ngSwitchCase="'attack-damage'"
      ></attack-damage>
      <attack-effect
        [roll]="asSimple(r)"
        *ngSwitchCase="'attack-effect'"
      ></attack-effect>
      <hit-die-row
        [roll]="asSimple(r)"
        *ngSwitchCase="'hit-dice'"
      ></hit-die-row>
      <health-roll-row
        [roll]="asSimple(r)"
        *ngSwitchCase="'hit-points'"
      ></health-roll-row>

      <unknown-roll
        *ngSwitchCase="'unknown'"
        [roll]="asSimple(r)"
      ></unknown-roll>
    </div>
  </div>
</div>
