.add-button {
  font-size: large;
  font-weight: bold;
  justify-content: center;
  justify-self: center;
  text-align: center;
  cursor: pointer;
}

.delete-button {
  color: darkred;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

.grayed-out {
  color: lightgray;
}
