<div class="container">
  <div class="character-grid">
    <character-li
      *ngFor="let character of characters"
      [character]="character"
      [hilight]="character.id === hilightId"
    >
    </character-li>
  </div>

  <div
    class="add-character-button"
    (click)="newCharacter()"
    [ngClass]="{ disabled: addInProgress }"
  >
    Add character
  </div>
  <div class="import-button">
    <label for="file-input">Import JSON</label>
    <input
      id="file-input"
      type="file"
      accept=".json"
      (input)="onImport($event)"
    />
  </div>
</div>
