<div class="edit-container">
  <div class="tier-header">Tier</div>
  <div class="regular-header">Normal</div>
  <div class="special-header">Special</div>
  <div class="label" *ngFor="let tier of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
    Tier {{ tier }}
  </div>
  <div class="regular-edit" *ngFor="let tier of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
    <editable-text
      [value]="regular(tier)"
      (valueChanged)="setRegular(tier, $event)"
    ></editable-text>
  </div>
  <div class="special-edit" *ngFor="let tier of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
    <editable-text
      [value]="special(tier)"
      (valueChanged)="setSpecial(tier, $event)"
    ></editable-text>
  </div>
  <div class="save-button" (click)="save()">Save</div>
</div>
