.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: flex-start;
  border-radius: 0.5em;
  border-style: double;
  margin: 0.5em;
  width: fit-content;
}
.hovered {
  color: darkblue;
  border-style: solid;
}

.ao-level {
  margin-inline-end: 0.25em;
}
