.spellbook-container {
  display: grid;
  grid-template-rows: [header]max-content [spells] 1fr [buttons] 3em [end];
  grid-template-columns: [start] 1fr [attack] 1fr [save] 1fr [end];
  align-content: center;
}
.casting-ability-display {
  grid-row: header;
  grid-column: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.spell-save-display {
  grid-row: header;
  grid-column: save;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.spell-attack-display {
  grid-row: header;
  grid-column: attack;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.value-box {
  border-style: solid;
  border-radius: 0.5em;
  padding: 1em;
}

.spells-container {
  grid-row: spells/end;
  grid-column: start/end;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content max-content max-content max-content;
  column-gap: 1em;
  row-gap: 1em;
}

.edit-slots-button {
  height: 100%;
  padding: 0.5em;
  margin-inline-start: 1em;
  width: fit-content;
  border-style: solid;
  border-radius: 1.5em;
  text-align: center;
  align-self: center;
}
